@using EntityLayer.Concrete
@model List<Message2>

<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope"></i>  <span class="label label-warning">@ViewBag.inboxMessage</span>
    </a>
    <ul class="dropdown-menu dropdown-messages">
        @foreach (var item in Model)
        {
            <li>
                <div class="dropdown-messages-box">
                    <a class="dropdown-item float-left" href="/Admin/Message/MessageDetails/@item.MessageId">
                        @if (item.SenderUser.WriterImage != null)
                        {
                            <img src="~/WriterImageFiles/@item.SenderUser.WriterImage" alt="image" class="rounded-circle">
                        }
                        else
                        {
                            <img src="~/WriterImageFiles/user-icon.jpg" alt="image" class="rounded-circle">
                        }

                    </a>
                    <div class="media-body">
                        <small class="float-right"></small>
                        <strong>@item.SenderUser.WriterName sana mesaj gönderdi</strong>. <br>
                        <small class="text-muted">
                            @(((DateTime)item.MessageDate).ToString("dd-MMMM-yyyy"))
                            @{
                                DateTime end = (DateTime)item.MessageDate;
                                DateTime now = DateTime.Now;
                                TimeSpan diff = end.Subtract(now);
                            }
                            @if (diff.Days != 0 && diff.Hours != 0 && diff.Minutes != 0)
                            {
                                <p class="text-gray mb-0 text-small">
                                    @diff.ToString(@"dd") gün
                                    @diff.ToString(@"hh") saat
                                    @diff.ToString(@"mm") dakika
                                    @diff.ToString(@"ss") saniye önce
                                </p>
                            }
                            else if (diff.Days == 0 && diff.Hours != 0 && diff.Minutes != 0)
                            {
                                <p class="text-gray mb-0 text-small">
                                    @diff.ToString(@"hh") saat
                                    @diff.ToString(@"mm") dakika
                                    @diff.ToString(@"ss") saniye önce
                                </p>
                            }
                        </small>
                    </div>
                </div>
            </li>
        }

        <li class="dropdown-divider"></li>
        <li>
            <div class="text-center link-block">
                <a href="#" class="dropdown-item">
                    <i class="fa fa-envelope"></i> <strong>@ViewBag.inboxMessage Yeni Mesaj</strong>
                </a>
            </div>
        </li>
    </ul>
</li>


