@using EntityLayer.Concrete
@model List<ContactLocation>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<link href="~/Thema/web/css/contact.css" rel='stylesheet' type='text/css' />


<section class="main-content-w3layouts-agileits">
    @foreach (var item in Model)
    {

        <h3 class="tittle"> @item.ContactTitle   </h3>
        <p class="sub text-center"> @item.ContactTitle2   </p>
        <div class="contact-map inner-sec">

            <iframe src="@item.ContactMapLocation" style="border:0" allowfullscreen="" class="map"></iframe>

        </div>
        <div class="ad-inf-sec bg-light">
            <div class="container">
                <div class="address row">

                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Adres</h6>
                                <p>
                                    @item.ContactAdress
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Email</h6>
                                <p>
                                    <a href="mailto:ilkaygl@outlook.com"> @item.ContactEMail </a>

                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Telefon</h6>
                                <p>+@item.ContactPhone</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container">
        <div class="contact_grid_right">
            <form asp-action="Index" asp-controller="Contact" method="post" autocomplete="off">
                <div class="row contact_left_grid">
                    <div class="col-md-6 con-left">
                        <div class="form-group">
                            <label for="validationCustom01 my-2">Ad-Soyad</label>
                            <input class="form-control" type="text" name="ContactUserName" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">E-Mail</label>
                            <input class="form-control" type="email" name="ContactMail" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label for="validationCustom03 my-2">Konu</label>
                            <input class="form-control" type="text" name="ContactSubject" placeholder="" required="">
                        </div>
                    </div>
                    <div class="col-md-6 con-right">
                        <div class="form-group">
                            <label for="textarea">Mesaj</label>
                            <textarea id="textarea" name="ContactMessage" placeholder="Mesajınızı Yazınız..."></textarea>
                        </div>
                        <input class="form-control" type="submit" value="Gönder">

                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

